RUNNER_URL=https://github.com/OWNER/REPOSITORY
RUNNER_TOKEN=PASTE_FRESH_REGISTRATION_TOKEN_HERE
RUNNER_NAME=docker-runner-1
RUNNER_LABELS=docker,maven
# RUNNER_GROUP=Default
# RUNNER_WORKDIR=/runner/_work
